.nav {
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    width: 100vw;
    height: 50px;
    border-bottom: 2px solid #f0f0f0;
}

.logo {
    margin-right: 100px;
    padding: 0px;
    height: 50px;
    margin-left: 25px;
}
.right-nav {
    margin-right: 30px;
}
.nav-icon {
    margin: 0px 10px;
    color: #2881e2;
    font-size: 22px;
}

.item {
    height: 45px;
    padding-right: 33px;
    border-radius: 5px;
}
.item:hover {
    color: #2881e2 !important;
}

.item-active {
    border-bottom: 3px solid #2881e2 !important;
    color: #2881e2 !important;
}
